h1{
    color: midnightblue;
}

body{
    background-color: #f4f4f4;
    color: #555555;
    font-family: Calisto MT Extra, Times New Roman, Helvetica, sans-serif;
    font-size: 20px;

    line-height: 1.8em;
    margin: 0;
}

.clr{
    clear:both;
}

.button{
    padding: 8px;
    width: 20%;
    border-radius: 8px;
    background-color: green;
    border: none;
    color: gold;
    font-size: large;
    font-family: "Calisto MT";

}
.button:hover{
    background-color: darkslategrey;
}

a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: purple;
}

a:active{
    color: green;
}


.container{
    width: 80%;
    margin: auto;
}

.box-1{
    background-color: skyblue;
    border: 2px yellowgreen solid;
    padding:20px;
    margin-top: 30px;
    border-radius: 25px;
}

.box-1 h1{
    font-family: Calisto MT ;
    font-weight: 800;
    font-style: normal;
    text-transform: capitalize;
    border-radius: 25px;

}

.box-2{
    background-color: wheat;
    padding: 20px;
    border: 2px mediumpurple solid;
    margin-top: 30px;
    border-radius: 25px;
}

.categories{
    border: 2px purple solid;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
}

.my-form{
    padding: 20px;
    border: 2px darkorange solid;
    border-radius: 25px;
}

.my-form.form-group{
    padding-bottom: 10px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 6px;
    width: 100%;
    border-radius: 8px;
}

.block{
    float: left;
    border: 2px green solid;
    width: 31%;
    margin:30px 10px;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

#main-block{
    float:left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar{
    float:right;
    width: 30%;
    background-color: #333;
    color: #f4f4f4;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: black 2px solid;
    margin-top: 30px;
    padding: 15px;
    position: relative;
    background-image: url("../img/bgimage.jpg");
    background-position: top center;
    background-repeat: repeat;
}

.p-box h1{
    position: absolute;
    top: 200px;
    color: red;
}

.fixed{
    position: fixed;
    top: 400px;
}